{erl_opt, [debug_info]}.

{plugins, [
    rebar3_hex
] }.

{deps, [  
    {cowboy, "2.3.0"}
    % ,{erlydtl, "0.11.1", {pkg, erlydtl2}} 
    ,{erlstore, {git, "https://github.com/eyedouble/erlstore.git", {tag, "0.0.5-beta.7"}}}
    % ,{erlsass, "1.1.1"}
    % ,{erlimage, {git, "https://github.com/eyedouble/erlimage.git", {tag, "0.0.5-beta.4"}}}
    ,{enotify, "0.1.0"}
    ,{jsone, "1.4.7"} 
    ,{hackney, "1.14.3"}
    % ,{shotgun, "0.3.0"}
    % ,{uuid, "1.7.2", {pkg, uuid_erl}}
    % ,{pbkdf2, "2.0.0"}
    % ,{jwt, "0.1.5"}
    % ,{erlstore, {git, "https://github.com/eyedouble/erlstore.git", {tag, "0.0.5-alpha.8"}}} 
]}.

% Export all functions for unit testing
{eunit_compile_opts, [export_all]}.

{relx, [
    {release, {woviesbackend, "0.0.1"}, [woviesbackend]},
    
    % Folders that will be copied to release target
    {overlay, [
        % {copy, "config", "config"}
        % {copy, "data", "data"}
        {copy, "priv", "priv"}
    ]},
    {extended_start_script, true},
    % {vm_args, "./priv/vm.args"},
    {sys_config, "./priv/sys.config"}
]}.